body {
	margin: 0;
	padding: 0;
	background: url(../images/main.jpg);
}

p {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.main {
	margin: 30px auto;
	width: 1000px;
	height: 800px;
	background-color: #BEB2B2;
}

.mainvision {
	margin: 20px 0 10px 20px;
	width: 620px;
	height: 560px;
	background: url(../images/fl0.jpg);
	border: 1px solid black;
	position: relative;
	float: left;
	z-index: 1;
}

.stats {
	margin: 20px 20px 0 20px;
	width: 310px;
	height: 560px;
	border: 1px solid black;
	float: right;
}

.door {
	width: 309px;
	height: 560px;
	position: absolute;
	background-color: #53433B;
	transition: width 1.7s;
	z-index: 3;
}

.left {
	left: 0;
	border-right: 1px solid black;
}

.right {
	right: 0;
	border-left: 1px solid black;
}

.notes1, .notes2, .notes3, .notes4 {
	background: url(../images/notes.jpg);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 97px;
	height: 103px;
}

.notes1 {
	bottom: 50px;
	left: 45px;
	transform: rotate(-25deg);
}

.notes2 {
	bottom: 50px;
	right: 30px;
	transform: rotate(20deg);
}

.notes3 {
	bottom: 40px;
	right: 40px;
	transform: rotate(30deg);
}

.notes4 {
	bottom: 50px;
	right: 30px;
	transform: rotate(20deg);
}

.box {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 135px;
	bottom: 23px;
	left: 85px;
}

.respirator {
	background: url(../images/respirator.png);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 69px;
	height: 107px;
	bottom: 23px;
	left: 262px;
	transform: rotate(-15deg);
}

.water {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 170px;
	bottom: 10px;
	left: 0;
}

.screw_jack {
	background: url(../images/screw_jack.png);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 121px;
	height: 65px;
	bottom: 23px;
	right: 100px;
	transform: rotate(10deg);
}

.stone {
	background: url(../images/stone.png);
	display: none;
	z-index: 2;
	position: absolute;
	width: 87px;
	height: 73px;
	top: 5px;
	left: 150px;
	transform: rotate(180deg);
	transition: ease-in 0.3s;
}

.ventilation {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 68%;
	height: 315px;
	bottom: 75px;
	left: 60px;
}

.details1, .details2 {
	background: url(../images/details.png);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 160px;
	height: 107px;
}

.details1 {
 	left: 50px;
 	bottom: 30px;
}

.details2 {
	bottom: 20px;
	right: 25px;
}

.radio {
	background: url(../images/radio.png);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 112px;
	height: 112px;
	bottom: 195px;
	right: 150px;
}

.tunnel {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 120px;
	height: 120px;
	bottom: 197px;
	right: 176px;
}

.arrow {
	background: url(../images/arrow.png);
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 108px;
	height: 108px;
	bottom: 15px;
	left: 23px;
}

.shadow {
	background: url(../images/shadow.png);
	display: none;
	z-index: 2;
	position: absolute;
	width: 104px;
	height: 200px;
	bottom: 135px;
	left: 205px;
}

.panel {
	background: white;
	display: none;
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 150px;
	top: 115px;
	right: 35px;
}

.panel input {
	margin-top: 15px; 
	margin-left: 23px;
	z-index: 3;
}

.rgt1, .rgt2, .rgt3 {
	font-size: 25px;
	z-index: 3;
	display: inline-block;
	margin-left: 10px;
}

.lift-btn p, .this-floor p, .health p, .tools p, .metan p {
	font: bold 15px sans-serif;
	margin: 10px; 
}

.lift-btn {
	width: 100px;
	float: left;
	margin-left: 25px;
}

.lift-btn label {
	display: none;
	float: left;
	margin-bottom: 5px;
	cursor: pointer;
}

.floors {
	cursor: pointer;
}

.this-floor span, .metan span{
	font: bold 35px sans-serif;
	margin-left: 35px;
}

.this-floor {
	float: right;
	margin-right: 61px;
}

.metan {
	margin-top: 90px;
	float: right;
}

#metan-p {
	margin-right: -15px;
}

.health, .tools {
	margin-top: 20px;
	border-top: 1px solid #341C70;
}

.health {
	height: 100px;
}

.health p, .tools p, .tools span, .health span {
	margin-left: 35px;
}

.message {
	width: 970px;
	height: 150px;
	margin: 8px 0 0 20px;
	font: italic 23px sans-serif;
}

span.cursive {
	color: blue;
	text-decoration: underline;
	font-size: 20px;
	cursor: pointer;
}
