body {
	margin: 0;
	padding: 0;
	background: url(../images/main.jpg);
	background-size: cover;
}

p {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.main {
	/* margin: 30px auto; */
	width: 900px;
	height: 700px;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
    overflow: hidden;
	background-color: #BEB2B2;
}

.mainvision {
	margin: 0 12px;
	width: calc(85% - 17px);
	height: 60%;
	background: url(../images/fl0.jpg);
	background-size: cover;
	background-position: bottom center;
	position: relative;
	float: left;
	z-index: 1;
	overflow: hidden;
}
.mainvision_white {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 6s;
	background-color: white;
}
.mainvision_white.active {
	opacity: .9;
}
.stats {
	display: inline-block;
	margin-right: 10px;
	width: calc(15% - 17px);
	height: 60%;
}
.top_stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	height: 30px;
}
.bot_stats {
	padding: 5px;
	margin: 6px 10px;
    height: auto;
	border: 1px solid black;
}
.tools span {
	font-weight: normal;
}

.door {
	width: calc(50% + 2px);
	height: 100%;
	position: absolute;
	background-color: #53433B;
	background-repeat: no-repeat;
	background-size: auto;
	transition: width 1.7s;
	z-index: 3;
}

.left {
	background-position: right center;
	background-image: url(../images/left_door.png);
	left: -2px;
	border-right: 1px solid black;
}

.right {
	background-position: left center;
	background-image: url(../images/right_door.png);
	right: -2px;
	border-left: 1px solid black;
}
.finds {
	border: 1px solid #ffffff;
    border-radius: 50%;
}
.notes1, .notes2, .notes3, .notes4 {
	background: url(../images/notes.jpg) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 135px;
	height: 135px;
}

.notes1 {
	bottom: 50px;
	left: 45px;
	transform: rotate(-25deg);
}

.notes2 {
	bottom: 50px;
	right: 30px;
	transform: rotate(20deg);
}

.notes3 {
	bottom: 4px;
	right: 40px;
	transform: rotate(30deg);
}

.notes4 {
	bottom: 50px;
	right: 30px;
	transform: rotate(20deg);
}

.box {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 135px;
	/* bottom: -30px;
    left: 156px; */
	bottom: 46px;
    left: 129px;
}

.respirator {
	background: url(../images/respirator.png) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 107px;
	height: 107px;
	/* bottom: 23px;
	left: 262px; */
	bottom: 116px;
    left: 270px;
	transform: rotate(-15deg);
}

.water {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 170px;
	bottom: 10px;
	left: 0;
}

.screw_jack {
	background: url(../images/screw_jack.png) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 121px;
	height: 121px;
	/* bottom: 23px;
	right: 100px; */
	bottom: 34px;
    right: 160px;
	transform: rotate(10deg);
}

.stone {
	background: url(../images/stone.png) no-repeat center;
	display: none;
	z-index: 2;
	position: absolute;
	width: 87px;
	height: 73px;
	top: 5px;
	left: 20%;
	transform: rotate(180deg);
	transition: ease-in 0.3s;
}

.ventilation {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 68%;
	height: 315px;
	bottom: 75px;
	left: 60px;
}

.details1, .details2 {
	background: url(../images/details.png) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 160px;
	height: 160px;
}

.details1 {
 	left: 50px;
 	bottom: 30px;
}

.details2 {
	bottom: 20px;
	right: 25px;
}

.radio {
	background: url(../images/radio.png) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 112px;
	height: 112px;
	/* bottom: 195px;
	right: 150px; */
	bottom: 232px;
    right: 191px;
}

.tunnel {
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 120px;
	height: 120px;
	/* bottom: 197px;
	right: 176px; */
	bottom: 235px;
    right: 224px;
}

.arrow {
	background: url(../images/arrow.png) no-repeat center;
	display: none;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: 108px;
	height: 108px;
	bottom: 15px;
	left: 23px;
}

.shadow {
	background: url(../images/shadow.png) no-repeat center;
	display: none;
	z-index: 2;
	position: absolute;
	width: 104px;
	height: 200px;
	bottom: 135px;
	left: 205px;
}

.panel {
	background: white;
	display: none;
	z-index: 2;
	position: absolute;
	width: 200px;
	height: 150px;
	top: 115px;
	right: 35px;
}

.panel input {
	margin-top: 15px; 
	margin-left: 23px;
	z-index: 3;
}

.rgt1, .rgt2, .rgt3 {
	font-size: 25px;
	z-index: 3;
	display: inline-block;
	margin-left: 10px;
}

.lift-btn p, .this-floor p, .health p, .tools p, .metan p {
	font: bold 15px sans-serif;
	height: 100%;
}
.health p, .metan p {
	line-height: 30px;
}
.metan p span, .health p span {
	vertical-align: middle;
}
.lift-btn {
	width: 100%;
}

.lift-btn label {
	display: none;
	margin-bottom: 8px;
	cursor: pointer;
	height: 28px;
	padding: 2px;
	border: 1px solid white;
	border-radius: 5px;
	line-height: 24px;
	text-align: center;
	font: bold 16px sans-serif;
}
.lift-btn label span {
	vertical-align: middle;
}
.floors {
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
    margin-right: 3px;
	height: 100%;
}

.this-floor span, .metan span, .health span {
	font: bold 20px sans-serif;
}
.this-floor {
	text-align: center;
}
.this-floor p {
	margin: 12px 0;
}

.message {
	width: calc(100% - 20px);
	height: auto;
	margin: 0 10px;
	font: italic 19px sans-serif;
}

span.cursive {
	color: blue;
	text-decoration: underline;
	font-size: 20px;
	cursor: pointer;
	margin: 10px 0;
    display: inline-block;
}
span.info_sound {
	margin-top: 10px;
	font-size: 16px;
	display: inline-block;
}

@media all and (max-width: 900px) {
    .main {
        width: 100%;
        height: 100%;
    }
	.top_stats {
		height: 24px;
		padding: 6px 10px;
	}
	.health p, .metan p {
		line-height: 24px;
		vertical-align: baseline;
	}
	.this-floor span, .metan span, .health span {
		font: bold 15px sans-serif;
	}
	.metan p span, .health p span {
		vertical-align: baseline;
	}
	.message {
		font: italic 13px sans-serif;
	}
	.stats {
		margin-right: 5px;
    	width: calc(15% - 12px);
	}
	.lift-btn label {
		font: bold 14px sans-serif;
		height: 22px;
	}
	.finds {
		transform: scale(.7) translate(-50%, -50%);
	}
	.notes1 {
		bottom: -20px;
    	left: 60px;
		transform: rotate(-25deg) scale(.7) translate(-50%, -50%);
	}
	.notes2 {
		transform: scale(.7) translate(-50%, -50%);
		bottom: -72px;
    	right: -52px;
	}
	.notes3 {
		transform: rotate(30deg) scale(.7) translate(-50%, -50%);
		bottom: -100px;
        right: -40px;
	}
	.notes4 {
		transform: rotate(20deg) scale(.7) translate(-50%, -50%);
		bottom: -85px;
        right: -30px;
	}
	.radio {
		top: 44%;
    	left: 50%;
	}
	.box {
		transform: scale(.8) translate(-50%, -50%);
		top: 82%;
        left: 25%;
	}
	.respirator {
		bottom: 20px;
    	left: 50%;
	}
	.tunnel {
		transform: scale(.8) translate(-50%, -50%);
		top: 54%;
        left: 60%;
	}
	.ventilation {
		top: 60%;
    	left: 35%;
	}
	.water {
		bottom: -85px;
		left: 38%;
	}
	.screw_jack {
		bottom: -50px;
    	left: 50%;
	}
	.details1 {
		left: 60px;
		bottom: -50px;
	}
	.details2 {
		bottom: -80px;
		right: -70px;
	}
	.shadow {
		transform: scale(.7) translate(-50%, -50%);
		top: 50%;
		left: 30%;
	}
}

@media all and (max-width: 320px) {
	.lift-btn label {
        height: auto;
    }
	.message {
        font: italic 12px sans-serif;
    }
	.lift-btn p, .this-floor p, .health p, .tools p, .metan p {
		font: bold 12px sans-serif;
	}
}