@import url(reset.css);


body {
	background: #fff;
}

.clear {
	clear: both;
}

.top-line {
	height: 67px;
	background-color: #bccf02;
	margin-bottom: 20px;
	min-width: 1280px;
}

nav {
	margin: 0 auto;
	width: 1280px;
}


nav ul li {	
	border-right: 2px solid #dbe608;
	height: 32px;
	display: inline-block;
	margin-top: 9px;
	padding: 17px 12px 0 11px;
		
}
	
nav ul li a {
	
	text-decoration: none;
	font: bold 15px/1 "HelveticaNeueCyr Bold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
}

nav ul li a:hover {
	color: #010101;
	border-bottom: none;
}

nav ul li:last-child {
	border-right: none;
	padding-right: 0;
}

nav ul li:first-child {
	padding-left: 0;
}

.second-line {
	width: 1300px;
	margin: 0 auto;
}

.logo {
	height: 66px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}

.logo p {
	margin: 25px 0 0 193px;
	font: bold 12px "HelveticaNeueCyr Bold", sans-serif;
	color: #3c3c3b;
	text-transform: uppercase;
}

.logo a {
	text-decoration: none;
}

.phone, .call-back, .address {
	text-transform: uppercase;
	display: inline-block;
	height: 66px;
	margin-top: 17px;
	
	padding-top: 3px;
}

.right {
	float: right;
	overflow: hidden;
}

.address {
	background: url(../images/adress.png) no-repeat;
	margin-right: 44px;
	padding-left: 37px;
	
}

.address a {
	text-decoration: none;
	font: bold 18px "HelveticaNeueCyr Bold", sans-serif;
	color: #018ae0;
	border-bottom: 1px solid #018ae0;
	
}

.phone {
	background: url(../images/phone.png) no-repeat;
	font: 24px "HelveticaNeueCyr Light", sans-serif;
	color: #010101;
	margin-right: 36px;
	margin-top: 12px;
	padding-top: 1px;
	padding-left: 35px;
	
}

.call-back a {
	font: bold 18px "HelveticaNeueCyr Bold", sans-serif;
	color: #018ae0;
	padding-left: 0;
	text-decoration: none;
	border-bottom: 1px solid #018ae0;
}

.first-banner {
	background: url(../images/foto.jpg) no-repeat;
	height: 607px;
	max-width: 1920px;
	min-width: 1280px;
	margin: 0 auto;
	
}

.recommendations-line {
	width: 1280px;
	margin: 0 auto;
}

.recommendations {
	left: 315px;
	width: 445px;
	height: 57px;
	background: #bccf02
	url(../images/envelope.png) 4% 50% no-repeat;
}

.recommendations p {
	margin-left: 67px;
	font: bold 14px "HelveticaNeueCyr Bold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding-top: 13px;
}

.recommendations a {
	text-decoration: none;
}

.recommendations p span {
	color: #010101;
	border-bottom: 1px solid #010101;
}

.recommendations .second-string {
	font: 14px "HelveticaNeueCyr Light", sans-serif;
	color: #010101;
	padding-top: 0;
}

.landing {
	margin: 90px 50%;
	font: bold 76px/0.9 "a_AvanteBs ExtraBold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	width: 662px;
	height: 297px;
	
}

.landing p {
	border-bottom: 2px solid #fff;
	margin: 0 17px 0 3px;
}

.landing span {
	font: 29px/0.9 "a_AvanteBs Regular", sans-serif;
	border-bottom: none;
	display: block;
	margin: 22px 0 51px 0;
}

.landing .buy {
	width: 551px;
	height: 58px;
	background: #12a1fb;
}

.buy p {
	margin-right: 0;
	border-bottom: none;
	padding-top: 18px;
	text-align: center;
}

.buy a {
	font: bold 24px/0.9 "a_AvanteBs ExtraBold", sans-serif;
	text-decoration: none;
	color: #fff;
}

.new-background {
	background-color: #f7f7f7;
}

.main-line, .main-line2 {
	height: 84px;
	margin-top: 60px;
	background: url(../images/main-line.png) repeat-x;
	min-width: 1280px;
	
}

.main-line {
	margin-bottom: 128px;
}

.main-line2 {
	margin-bottom: 57px;
}

.main-title {
	margin: 0 auto;
	width: 707px;
	height: 84px;
	background: #fff;
}

.main-title2 {
	margin: 0 auto;
	width: 841px;
	height: 84px;
	background: #f7f7f7;
}

.main-title h1, .main-title h2, .main-title p, .main-title2 h1, .main-title2 h2 {
	text-align: center;
	display: block;
	position: relative;
	top: -12px;
	
}

.main-title h1, .main-title2 h1 {
	color: #424241;
	font: bold 72px/0.9 "a_AvanteBs ExtraBold", sans-serif;
	border-bottom: 3px solid #424241;
	text-transform: uppercase;
}

.main-title h1 {
	margin: 0 85px 8px 85px;
}

.main-title2 h1 {
	margin: 0 45px 8px 45px;
}

.main-title h2, .main-title2 h2 {
	color: #424241;
	font: 23px/1 "a_AvanteLt Light", sans-serif;
	border-bottom: 3px solid #424241;
	text-transform: uppercase;
}

.main-title h2 {
	margin: 0 26px 38px 26px;
}

.main-title2 h2 {
	margin: 0 28px 38px 28px;
}

.main-title p {
	color: #000;
	font: 18px/1.2 "HelveticaNeueCyr Roman", sans-serif;
	margin: 0 74px 0 74px;
}

.main-block {
	height: 592px;
	min-width: 1364px;
	background: url(../images/main-block.png) repeat-x;
	margin-bottom: 76px;
}

.arts {
	width: 1364px;
	height: 592px;
	margin: 0 auto;
}

.line-block {
	width: 341px;
	height: 296px;
	float: left;
}

.img {
	width: 100%;
	height: 100%;
}


.line-block p {
	font: bold 14px "HelveticaNeueCyr Bold", sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 210px 25px 0 25px;
	text-align: center;
}

.line-block a {
	text-decoration: none;
}

#a1 {
	background: url(../images/flb1.png) no-repeat;

}

#a1 .img {
	background: rgba(188, 207, 2, 0.85) url(../images/a1.png) 50% 40% no-repeat;
}

#a2 {
	background: url(../images/flb2.png) no-repeat;
}

#a2 .img {
	background: rgba(0, 136, 222, 0.85) url(../images/a2.png) 50% 40% no-repeat;
}

#a3 {
	background: url(../images/flb3.png) no-repeat;
}

#a3 .img {
	background: rgba(188, 207, 2, 0.85) url(../images/a3.png) 50% 40% no-repeat;
}

#a4 {
	background: url(../images/flb4.png) no-repeat;
}

#a4 .img {
	background: rgba(0, 136, 222, 0.85) url(../images/a4.png) 50% 40% no-repeat;
}

#a5 {
	background: url(../images/slb1.png) no-repeat;
}

#a5 .img {
	background: rgba(0, 136, 222, 0.85) url(../images/a5.png) 50% 40% no-repeat;
}

#a6 {
	background: url(../images/slb2.png) no-repeat;
}

#a6 .img {
	background: rgba(188, 207, 2, 0.85) url(../images/a6.png) 50% 40% no-repeat;
}

#a7 {
	background: url(../images/slb3.png) no-repeat;
}

#a7 .img {
	background: rgba(0, 136, 222, 0.85) url(../images/a7.png) 50% 40% no-repeat;
}

#a8 {
	background: url(../images/slb4.png) no-repeat;
}

#a8 .img {
	background: rgba(188, 207, 2, 0.85) url(../images/a8.png) 50% 40% no-repeat;
}

#a1 .img:hover, #a2 .img:hover, #a3 .img:hover, #a4 .img:hover, #a5 .img:hover, #a6 .img:hover, #a7 .img:hover, #a8 .img:hover {
	background: none;
}

.map-block {
	height: 562px;
	width: 1262px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}

.address-select {
	height: 186px;
	width: 511px;
	font: 14px "HelveticaNeueCyr Light", sans-serif;
	color: #b0b0b0;
	background-color: #fff;
	border: 2px solid #f0f0f0;
	margin-top: 7px;
	position: relative;
}

.address-select:first-child {
	height: 165px;
	margin-top: 0;
}

.address-select span {
	font: bold 14px "HelveticaNeueCyr Bold", sans-serif;
}

.address-select h3 {
	font: bold 18px "HelveticaNeueCyr Bold", sans-serif;
	color: #4d4d4d;
	text-transform: uppercase;
	margin-bottom: 8px;
	padding-top: 22px;
}

.address-select p {
	padding-right: 104px;
}

.address-select h3, .address-select p {
	padding-left: 26px;
}

.address-select .add {
	color: #4d4d4d;
	text-decoration: underline;
	margin-bottom: 23px;
}

.address-select .pho {
	font: 14px "HelveticaNeueCyr Roman", sans-serif;
	float: right;
	text-align: right;
	padding-right: 11px;
	padding-top: 22px;
}

.address-select:hover {
	color: #fff;
	background: #0088de;
	cursor: pointer;
}

.address-select:hover h3{
	color: #fff;
}

.address-select:hover .add{
	color: #fff;
}

.address-select:hover .arrow {
	display: block;
}

#minimap {
	height: 562px;
	width: 732px;
	position: absolute;
	top: 0;
	right: 0;
}

.arrow {
	height: 32px;
	width: 17px;
	position: absolute;
	top: 42%;
	right:-16px;
	background: url(../images/arrow.png) no-repeat;
	display: none;
}